
#database path, set to the location of the knowledge.db file, default to "knowledge.db" in the current directory if not set
DB_PATH=path/to/knowledge.db

#openai api key, set to your OpenAI API key
OPENAI_API_KEY=THEKEY

#for keystroke model loading
KEYSTROKE_WEIGHTS_URL=
KEYSTROKE_STATS_URL=