#to host model
GROQ_API=apikeyhere

#database path, set to the location of the knowledge.db file, default to "knowledge.db" in the current directory if not set
DB_PATH=path/to/knowledge.db

OPENAI_API_KEY=THEKEY